.services{
  text-align: center;
  margin-top: 10%;
  padding: 0;

  .break {
    color: #FA5549;
    margin: 0;
    font-size: 25pt;
    padding-bottom: 1%;
  }

  h2 {
    font-size: 67.5pt;
    margin: 0;
  }

  p {
    font-size: 17.5pt;
    padding-top: 2%;
    margin: 0;
    line-height: 30pt;
  }
}